@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.banner{
    width: 100%;
    height: 787px;
    
    
    
    .information{
        width: 60%;
        height: 100%;
        

        .title{
            margin-top: 20%;
            font-family: 'Exo 2', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 52px;
            line-height: 125%;
            color: #363738;
        }
        .information_customer{
            margin-top: 3%;
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #6B6B6C;

        }
        .learen_more{
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #363738;

        }
    }
    
    .colorful_banner{
        width: 40%;
        height: 100%;
        background-color: #0B7572;
        margin-left: 99px;
        position: relative;
    
    }
    
    .banner_truck{
        width: 635px;
        height: 505px;
        position: absolute;
        top: 13%;
        left: 48%;
        border-radius: 0px 15px 15px 15px ;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}

.container{
    width: 90%;
    height: 100%;
    background-color: #FFFFFF;
    margin: auto;
    display: flex;
}

.bottom_east{
    width: 100%;
    height: 341px;
    position: absolute;
    top: 680px;

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        box-shadow: 10px 15px 50px 10px black;
       
    }
      
    .grid-item {
        background-color: antiquewhite;
        padding: 40px 181px 0px 20px;
        font-size: 10px;
        text-align: center;
    
    }

      
        .grid-item:first-child{
          border-radius: 20px 0px 0px 20px;
        }
        
        .grid-item:last-child{
            border-radius: 0px 20px 20px 0px;
        }

      
        .bottom{
            width: 92px;
            height: 92px;
        }

    }    

    .containers{
        width: 230px;
        height: 150px;
    
    }
    .search_product{
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        color: #363738;

    }

    .lorem_ipsum{
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #6B6B6C;

    }

    
        



      

// .jobs{
//     width: 100%;
//     height: 722px;
//     background-color: aquamarine;
// }

.hero{
    width: 100%;
    height: 748px;  
    margin-top: 210px;
    
}

.hero_truck{
    width: 100%;
    height: 60.7%;
    position: relative;
    
    .hero_color{
      position: absolute;
      top: -1px;
    }

    .rectangle{
        margin-left: -353px;
    }

    .hero_img{
        width: 1040px;
        height: 100%;
        margin-top: -1px;
        margin-left: 325.5px;
        
        
        
    }

    
}   

.hero_title{
    position: absolute;
    top: 160px;
    left: 101px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    color: #FFFFFF;


}


